@use "./index" as global;
body {
  background-color: global.$light-bg;
}
.top {
  height: 10rem;
  background: global.$dark-desaturated-cyan
    url(../public/assets/images/bg-header-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  @media screen and(min-width:729px) {
    & {
      background: global.$dark-desaturated-cyan
        url(../public/assets/images/bg-header-desktop.svg);
    }
  }
}
