@font-face {
  font-family: Spartan;
  src: url(./assets/spartan/Spartan-Medium.ttf);
}
$dark-desaturated-cyan: hsl(180, 29%, 50%);
$light-bg: hsl(180, 52%, 96%);
$tablets: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);
body {
  background-color: gray;
  font-family: Spartan;
  font-size: 15px;
}
